# Import data
In this Jupyter Notebook, you will learn how to import data from CSV into Jupyter Notebook

In [8]:
#import the package "Pandas" into Jupyter Notebook
import pandas as pd

In [9]:
#We import the stock data of Facebook into Jupyter Notebook. The CSV file is located in the folder called "Data" in your Workspace
#We then name the DataFrame name as 'fb'
fb = pd.DataFrame.from_csv('../data/facebook.csv')

### Instruction
Now is your turn to import the stock price of Microsoft (microsoft.csv), of which the CSV is located in the same folder, and rename the Dataframe in "ms".

In [14]:
ms = pd.DataFrame.from_csv('../data/microsoft.csv')

In [15]:
# run this cell to ensure Microsoft's stock data is imported
print(ms.iloc[0, 0])

46.73

** Expected output: ** 46.73

In [16]:
ms.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2014-12-31  46.730000  47.439999  46.450001  46.450001  42.848763  21552500
2015-01-02  46.660000  47.419998  46.540001  46.759998  43.134731  27913900
2015-01-05  46.369999  46.730000  46.250000  46.330002  42.738068  39673900
2015-01-06  46.380001  46.750000  45.540001  45.650002  42.110783  36447900
2015-01-07  45.980000  46.459999  45.490002  46.230000  42.645817  29114100